/*元素样式*/
html, body { height: 100%; }
html * { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; }
body { font-size: 12px; font-family: "Consolas", "Courier New", "微软雅黑" }
header { width: 100%; height: 30px; position: absolute; top: 10px; z-index: 9; }
footer { width: 100%; height: 30px; position: absolute; bottom: 10px; z-index: 9; }
ul {  }
ul>li { list-style: none; }

/*容器*/
.container { background-image: url(../images/big-bg.jpg); background-repeat: no-repeat; background-size: cover; }
.container::after { content: ''; display: block; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); }
.main {  position: absolute; }
.panel {  position: absolute; padding: 60px 20px; }
.panel-body {  position: relative; }
.panel-content {  overflow: hidden; }
.panel-close-btn { position: absolute; top: -10px; right: -10px; width: 30px; height: 30px; border-radius: 50%; background: rgba(0, 0, 0, 0.8); text-align: center; color: #fff; line-height: 3em; }

.container-battle { background-image: url(../images/bg-battle-01.jpg); background-repeat: no-repeat; background-size: cover; }
.container-battle::after { content: ''; display: block; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); }

/*背景*/
/*.bg { background-image: url(../images/big-bg.jpg); background-repeat: no-repeat; background-size: cover; }*/
.bg::after { content: ''; display: block; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); }
.bg-dark { background-color: rgba(0, 0, 0, 0.7); }

/*排版*/
.fullfill { width: 100%; height: 100%; }
.hidden { overflow: hidden; }
.scroll { overflow: auto; -webkit-overflow-scrolling: touch; }
.flex { display: flex; display: -webkit-flex; }
.flex-row { flex-direction: row; -webkit-flex-direction: row; }
.flex-col { flex-direction: column; -webkit-flex-direction: column; }
.flex-item { flex: 1; -webkit-flex: 1; }
/*header .flex-item.active { margin-top: 10px; }
footer .flex-item.active { margin-top: -10px; }*/
.flex-item.active>.btn { background-color: #24B0E6; border-color: #198EF3; color: #fff; }
.flex-item.active>.btn>i { color: #fff; }
.flex-item.has-new>btn::after { content: ''; width: 6px; height: 6px; border-radius: 50%; background-color: #D82851; position: absolute; top: 2px; right: 2px; }

.padding-top-5 { padding-top: 5px; }
.padding-top-10 { padding-top: 10px; }
.padding-bottom-5 { padding-bottom: 5px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-right-5 { padding-right: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }

/*对齐方式*/
.align-center { text-align: center; }

/*边框*/
.border { border: 1px solid #ddd; }
.border-radius-5 { border-radius: 5px; }
.border-split-child>* { border-right: 1px solid #ddd; }
.border-split-child>*:last-child { border: none; }
.border-width-2 { border-width: 2px; }

/*按钮*/
a.btn { text-decoration: none; color: #333; }
.btn { display: inline-block; border: 1px solid #ddd; border-radius: 5px; padding: 7px; background: #fff; position: relative; }
.btn>i { color: #24B0E6; margin-right: 3px; }


/*字体*/
.font-size-20 { font-size: 2em; }
.font-size-15 { font-size: 1.5em; }


/*物品及颜色*/
.sign { font-weight: bold; padding: 0px 3px; }
.sign::before { display: inline-block; padding: 0px 2px; font-size: 10px; font-weight: normal; border-radius: 4px; margin-right: 2px; }
.material {  }
.material::before { content: '材料'; }
.stone::before { content: '灵石'; }
.treasure::before { content: '法宝'; }
.pill::before { content: '丹药'; }
.book::before { content: '功法'; }
.magic::before { content: '仙术'; }


.color-normal { color: #ffffff; }
.color-normal::before { border-color: #ffffff; background-color: #fefefe; color: #333; }
.color-good { color: #43BB11; }
.color-good::before { border-color: #43BB11; background-color: #43BB11; color: #fff; }
.color-nice { color: #2EBCFF; }
.color-nice::before { border-color: #2EBCFF; background-color: #2EBCFF; color: #fff; }
.color-pretty { color: #8D18CA; }
.color-pretty::before { border-color: #8D18CA; background-color: #8D18CA; color: #fff; }
.color-perfect { color: #E6BC24; }
.color-perfect::before { border-color: #E6BC24; background-color: #E6BC24; color: #fff; }


/*各类面板设定*/
.logs { color: #efefef; }
.log { padding: 3px 5px; }
.log-time { margin-right: 10px; text-decoration: underline; font-weight: bold; font-style: italic; }


/*媒体查询*/
@media (orientation:portrait) {
  .container-battle { display: none; }
  /*.container { background-image: url(../images/big-bg.jpg); background-repeat: no-repeat; background-size: cover; }*/
}
@media (orientation:landscape) {
  .container { display: none;  }
  /*.container-battle { background-image: url(../images/bg-battle-01.jpg); background-repeat: no-repeat; background-size: cover; }*/
}