<ul class="logs fullfill padding-top-10 scroll">
  <li class="log"><span class="log-time">14:01</span><span class="sign material color-normal">天陨石精x1</span>被发现……</li>
  <li class="log"><span class="log-time">14:05</span><span class="sign material color-good">天陨石精x2</span>被发现……</li>
  <li class="log"><span class="log-time">14:07</span><span class="sign material color-nice">天陨石精x3</span>被发现……</li>
  <li class="log"><span class="log-time">14:11</span><span class="sign material color-pretty">天陨石精x4</span>被发现……</li>
  <li class="log"><span class="log-time">14:19</span><span class="sign material color-perfect">天陨石精x5</span>被发现……</li>
  <li class="log"><span class="log-time">14:27</span>你打败了敌人，获得了<span class="sign stone color-good">下品灵石x1586</span>，<span class="sign material color-good">寒元x3</span>，<span class="sign material color-nice">寒髓果x1</span></li>
  <li class="log"><span class="log-time">14:38</span>你探寻一处遗址后，获得了<span class="sign treasure color-nice">炙焰珠</span>，<span class="sign pill color-pretty">混元炼虚丹x1</span></li>
  <li class="log"><span class="log-time">14:01</span><span class="sign material color-normal">天陨石精x1</span>被发现……</li>
  <li class="log"><span class="log-time">14:05</span><span class="sign material color-good">天陨石精x2</span>被发现……</li>
  <li class="log"><span class="log-time">14:07</span><span class="sign material color-nice">天陨石精x3</span>被发现……</li>
  <li class="log"><span class="log-time">14:11</span><span class="sign material color-pretty">天陨石精x4</span>被发现……</li>
  <li class="log"><span class="log-time">14:19</span><span class="sign material color-perfect">天陨石精x5</span>被发现……</li>
  <li class="log"><span class="log-time">14:27</span>你打败了敌人，获得了<span class="sign stone color-good">下品灵石x1586</span>，<span class="sign material color-good">寒元x3</span>，<span class="sign material color-nice">寒髓果x1</span></li>
  <li class="log"><span class="log-time">14:38</span>你探寻一处遗址后，获得了<span class="sign treasure color-nice">炙焰珠</span>，<span class="sign pill color-pretty">混元炼虚丹x1</span></li>
  <li class="log"><span class="log-time">14:01</span><span class="sign material color-normal">天陨石精x1</span>被发现……</li>
  <li class="log"><span class="log-time">14:05</span><span class="sign material color-good">天陨石精x2</span>被发现……</li>
  <li class="log"><span class="log-time">14:07</span><span class="sign material color-nice">天陨石精x3</span>被发现……</li>
  <li class="log"><span class="log-time">14:11</span><span class="sign material color-pretty">天陨石精x4</span>被发现……</li>
  <li class="log"><span class="log-time">14:19</span><span class="sign material color-perfect">天陨石精x5</span>被发现……</li>
  <li class="log"><span class="log-time">14:27</span>你打败了敌人，获得了<span class="sign stone color-good">下品灵石x1586</span>，<span class="sign material color-good">寒元x3</span>，<span class="sign material color-nice">寒髓果x1</span></li>
  <li class="log"><span class="log-time">14:38</span>你探寻一处遗址后，获得了<span class="sign treasure color-nice">炙焰珠</span>，<span class="sign pill color-pretty">混元炼虚丹x1</span></li>
  <li class="log"><span class="log-time">14:01</span><span class="sign material color-normal">天陨石精x1</span>被发现……</li>
  <li class="log"><span class="log-time">14:05</span><span class="sign material color-good">天陨石精x2</span>被发现……</li>
  <li class="log"><span class="log-time">14:07</span><span class="sign material color-nice">天陨石精x3</span>被发现……</li>
  <li class="log"><span class="log-time">14:11</span><span class="sign material color-pretty">天陨石精x4</span>被发现……</li>
  <li class="log"><span class="log-time">14:19</span><span class="sign material color-perfect">天陨石精x5</span>被发现……</li>
  <li class="log"><span class="log-time">14:27</span>你打败了敌人，获得了<span class="sign stone color-good">下品灵石x1586</span>，<span class="sign material color-good">寒元x3</span>，<span class="sign material color-nice">寒髓果x1</span></li>
  <li class="log"><span class="log-time">14:38</span>你探寻一处遗址后，获得了<span class="sign treasure color-nice">炙焰珠</span>，<span class="sign pill color-pretty">混元炼虚丹x1</span></li>
</ul>